<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="dhl Application Test Automation Test Suite">

    <listeners>
        <listener
                class-name="common.extentReportListener.ExtentReporterNG"/>
    </listeners>

    <test name="Sauce Demo Test Cases">
        <classes>
            <class name="selenium.SauceDemoTest"></class>
        </classes>
    </test>
</suite>
